* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  overflow-x: hidden;
}

.container-title {
  position: relative;
}

.container-title::after {
  content: '';
  width: 100px;
  height: 5px;
  background-color: #428035;
  position: absolute;
  left: 0;
  bottom: -10px;
}

footer {
  margin-top: 200px;
  background-color: black;
  color: white;
  width: 100%;
}

footer .footer-container {
  width: 65%;
  margin: auto;
  padding: 6rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-container .social-section {
  width: 70%;
}

footer .footer-container .social-section div {
  width: 100px;
  height: 100px;
}

footer .footer-container .social-section div img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: top;
     object-position: top;
}

footer .footer-container .newsletter-section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer .footer-container .newsletter-section input,
footer .footer-container .newsletter-section button {
  width: 100%;
}

footer .footer-container .newsletter-section input {
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 7px;
  color: white;
  margin-bottom: 10px;
}

footer .footer-container .newsletter-section button {
  color: black;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 7px;
}

@media screen and (max-width: 1400px) {
  footer .footer-container {
    width: 90%;
  }
}

@media screen and (max-width: 1000px) {
  footer .footer-container .social-section {
    width: 40%;
  }
  footer .footer-container .newsletter-section {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media screen and (max-width: 720px) {
  footer .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-container .social-section {
    margin-bottom: 50px;
  }
  footer .footer-container .social-section,
  footer .footer-container .newsletter-section {
    width: 100%;
  }
}

footer svg {
  fill: white;
  margin-right: 40px;
}

.unauthorized-container {
  min-height: 40vh;
  margin-top: 200px;
  text-align-last: center;
}

.unauthorized-container h1 {
  font-weight: 900;
  font-size: 10rem;
  color: #c9c9c5;
}

.unauthorized-container p {
  margin: auto;
  font-weight: bold;
  width: 500px;
}

.unauthorized-container a {
  display: inline-block;
  margin-top: 40px;
  color: black;
  text-decoration: none;
  background-color: #f7b61b;
  padding: 0.7rem 2rem;
  border-radius: 7px;
  font-weight: bold;
}

.invoice-container {
  min-height: 50vh;
  width: 60%;
  margin: auto;
  margin-top: 80px !important;
  border: 1px solid #c9c9c5;
  border-radius: 15px;
  padding: 2rem 3rem;
}

.invoice-container .invoice-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.invoice-container .invoice-header .header-logo {
  height: 50px;
  width: 200px;
}

.invoice-container .invoice-header .header-logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: left;
     object-position: left;
}

.invoice-container .invoice-header .header-date {
  font-weight: bold;
}

.invoice-container .invoice-details {
  margin-top: 70px;
}

.invoice-container .order-details table {
  border-collapse: collapse;
  margin-top: 70px;
  width: 100%;
  text-align: left;
}

.invoice-container .order-details table thead {
  color: #c9c9c5;
  text-transform: uppercase;
}

.invoice-container .order-details table tbody tr td {
  padding: 20px 0px;
  margin: 20px 0px;
  border-bottom: 1px solid #c9c9c5;
}

.invoice-container .order-details table tbody tr .total-price {
  font-weight: bold;
}

.invoice-container .order-summary {
  margin-top: 70px;
}

@media screen and (max-width: 1000px) {
  .invoice-container {
    width: 90%;
  }
}
/*# sourceMappingURL=invoice.css.map */