@import '../index.scss';

body {
    overflow-x: hidden;

    .container {
        margin-bottom: 70px;

        .landing-container {
            background-color: $yellow-primary;
            height: 650px;
            width: 100%;
            position: relative;
            overflow-x: hidden;

            .text-container {
                display: flex;
                justify-content: center;
                flex-direction: column;
                height: 100%;
                width: 65%;
                margin: auto;

                h1 {
                    font-size: 3rem;
                    font-weight: 900;
                    position: relative;
                    z-index: 999;
                }

                p {
                    font-weight: bold;
                    position: relative;
                    z-index: 999;
                }

                .shop-btn {
                    margin-top: 40px;
                    width: 300px;
                    text-align: center;
                    color: black;
                    text-decoration: none;
                    font-weight: bold;
                    padding: 0.8rem 0rem;
                    background-color: white;
                    border-radius: 7px;
                }

                @media screen and (max-width: $medium-large) {
                    width: 90%;
                }
            }
        }

        .steps-container {
            width: 65%;
            margin: auto;
            margin-top: 150px;
            position: relative;

            h2 {
                @extend .container-title;
            }

            .steps-showcase {
                background-color: $blue-gray;
                padding: 2rem 1.5rem;
                border-radius: 15px;
                min-height: 100px;
                margin-top: 40px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .step {
                    text-align: center;
                    flex-basis: 30%;

                    svg {
                        margin-top: 3rem;
                        transform: scale(3);
                    }

                    .step-title {
                        margin-top: 30px;
                    }

                    .step-description {
                        margin: auto;
                        margin-top: 20px;
                        margin-bottom: 20px;
                        width: 90%;
                    }

                    &:first-child {
                        svg {
                            transform: scale(3.5);
                        }
                    }
                }

                @media screen and (max-width: $small) {
                    flex-direction: column;

                    .step {
                        width: 100%;
                    }
                }
            }

            @media screen and (max-width: $medium-large) {
                width: 90%;
            }
        }
    }

    .landing-image {
        width: 1400px;
        position: absolute;
        top: -100px;
        right: -400px;
        z-index: 1;

        @media screen and (max-width: $medium-large) {
            width: 1000px;
            top: 100px;
        }

        @media screen and (max-width: $small) {
            width: 500px;
            top: 200px;
            right: -300px;
        }
    }

    .traders-container {
        background-color: black;
        margin-top: 100px;

        section {
            width: 65%;
            margin: auto;
            color: white;
            padding: 3rem 0rem;

            h2 {
                @extend .container-title;
                margin-bottom: 30px;

                &::after {
                    background-color: white;
                }
            }

            .traders-showcase {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;

                .trader {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-right: 20px;

                    svg {
                        fill: white;
                        margin-bottom: 10px;
                        transform: scale(3);
                        margin: auto;
                        margin-top: 80px;
                        margin-bottom: 50px;
                    }

                    .trader-title {
                        text-transform: uppercase;
                        font-size: 1rem;
                        font-weight: bold;
                    }
                }
            }

            @media screen and (max-width: $medium-large) {
                width: 90%;
            }
        }
    }

    .products-container {
        width: 65%;
        margin: auto;
        margin-bottom: 50px;
        margin-top: 100px;

        .products {
            margin-top: 50px;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            grid-gap: 40px;

            .product {
                width: auto;
                position: relative;

                .product-image {
                    height: 315px;
                    margin-bottom: 10px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 7px;
                    }
                }

                .product-rating {
                    .filled-star {
                        fill: $yellow-primary;
                    }
                }

                .product-name {
                    font-weight: 800;
                    margin-bottom: 5px;
                }

                .product-price {
                    color: $green-primary;
                    font-weight: 800;
                }

                .cart-icon {
                    position: absolute;
                    right: 0;
                    top: 325px;
                    height: 35px;
                    width: 35px;
                    padding: 5px;
                    background-color: $yellow-primary;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }
        }

        @media screen and (max-width: $medium-large) {
            width: 90%;
        }
    }
}
